<mat-card>
    <mat-card-header>
        Semester Auswahl
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Semester</mat-label>
            <mat-select [(value)]="selectedSemester">
                @for (semester of semesters; track semester) {
                  <mat-option [value]="semester">{{semester}}</mat-option>
                }
              </mat-select>
        </mat-form-field>
        {{selectedSemester}}
    </mat-card-content>
</mat-card>
